html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

#root {
  height: 100%;
}

.css-tlelie-MuiListItemText-root {
  margin-right: 36px;
}

.MuiListItemText-primary {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}